# Cles privees - JAMAIS committer
*.pem
*.key
*.p8
ed25519_*

# Bases DuckDB
*.duckdb
*.duckdb.wal

# Attestations produites
attestations/
*.attestation.json

# Python
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
venv/
.venv/

# OS
.DS_Store
Thumbs.db
